---
layout: comparison_page_detailed
trial_bar: false
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - comparison-page-detailed.css
  - comparison-page-header.css
  - compared.css
  - release-posts.css
  - comparison-page-table.css
extra_js:
  - bootstrap-tooltip.js
---

- template = data.devops_tools[key_one].decision_kit
- product_one = data.features.devops_tools[key_one]

- if template.title
  - current_page.data.title = template.title
- else 
  - content_for(:title){ product_one.name + " vs. GitLab" }
- if template.description
  - current_page.data.description = template.description
- else
  - current_page.data.description = "Compare #{product_one.name} vs. GitLab"
- if template.canonical_path
  - current_page.data.canonical_path = template.canonical_path
- else
  - current_page.data.canonical_path = current_page.url
- content_for :comparison_header do
  = partial(template.header || 'includes/devops-tools/headers/header.html.haml', locals: { product_name: product_one.name, layout: 'detailed', padding_bottom: '70px', header_link: template.header_link })

- content_for :strips do
  - template.strips.each do |section|
    = partial("includes/devops-tools/strip-templates/#{section.template.tr('_', '-')}.html.haml", locals: { content: section.content })

- content_for :feature_comparison do
  = partial(product_one.feature_comparison_table || 'includes/devops-tools/comparison-table.html.haml', locals: { product_one: product_one })
