- direct_reports_count = member[:direct_reports_count]
- vacant_reports_count = member[:vacant_reports_count]
- total_span_count = member[:descendents]
- direct_reports_text = %(#{direct_reports_count} direct #{"report".pluralize(direct_reports_count)})
- vacant_reports_text = %(#{vacant_reports_count} #{"vacancy".pluralize(vacant_reports_count)})
- span_control_data = [direct_reports_text, vacant_reports_text]
- if total_span_count != direct_reports_count
  - span_control_data << %(#{total_span_count} direct + indirect #{"report".pluralize(total_span_count)})
- span_control_text = span_control_data.join(', ')

.node{:class => ("has-tree is-expanded" if member[:children].any?)}
  .employee-profile
    %strong.employee-name{id: member[:anchor]}
      = link_to member[:name], "/company/team/##{member[:anchor]}"
    %em.employee-title
      = member[:link]
    - if total_span_count > 0 || vacant_reports_count > 0
      %em.employee-span-of-control
        = span_control_text
- if member[:children].any?
  .tree
    %ul
      - member[:children].each do |child|
        %li
          = partial "team_member", locals: { member: child }
